.submit{
    display: flex;
    background-color: var(--azul);
    align-items: center;
    justify-content: center ;
    height: 2.5rem;
    width: 15em;
    border: none;   
    border-radius: 20px;
    position: absolute;
    right: 61.5%;
    cursor: pointer; 
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.submit:hover{
    transition: .6s;
    opacity: .8;
}