/* NavBar Primária */

.navbar{
    display: flex;
    background-color: var(--cor1);
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    padding: 20px;
}

.navbar a{
    color: var(--roza);
    transition: .3s;
    font-size: 1.6rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.navbar a:hover{
    color: #a75682;
    opacity: 0.8;
}


.logo{
    align-self: left;
    justify-self: center;  
}

.barra{
    display: flex;
    width: 60vh;
    height: 6.2vh;
    margin-right: 4rem;
    border-radius: 25px;
    border-color: var(--roza);
    border-style: solid;
}

.barra input{
    width: 55vh;
    margin-left: 1rem;
    background: none;       
    border: none;
    outline: none;
    line-height: 20px;
    color: #fff;
}

.lupa{
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-right: 7px;
    cursor: pointer;
}

.favoritos{
    padding-left: 1rem;
    margin-top: 5px;
    margin-right: -8rem;
}

.login{
    margin-left: -4rem;
}

.perfil{
    position: absolute;
    right: 10%;
    padding-left: 5px;
    margin-left: -12rem;
    margin-top: 5px;
}

.carrinho{
    margin-left: -12rem;
    padding-right: 10px;
    margin-top: 5px;
}

/* NavBar Secundária */

.nav2{
    display: flex;
    background-color: var(--cinza);
    height: 12vh;
    padding: 10px;
    align-items: center;    
    justify-content: center;
}

.nav2 ul{
    display: flex;    
}


.nav2 a{
    color: rgba(255, 255, 255, 0.884);
    font-size: 1.8rem;
    margin-left: 10rem;
    margin-right: 6rem;
    padding: 5px;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
} 

.nav2 a:hover{
    color: rgb(166, 152, 152);
    opacity: 0.8;
}

/* Responsividade */

.burguermenu{
    display: none;
    color: var(--roza);
    cursor: pointer;
}