/* Cadastro */

.menu{
    display: flex;
    background-color: var(--cor1);
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
}

.mudarpage{
    display: flex;
    float:inline-start;
    position: absolute;
    align-self: flex-start;
    justify-self: center;
    padding: 10px;
}

.mudarpage a{
    color: #ffff;
    font-size: 27px;
    padding: 10px;
    margin-top: 3.5rem;
    margin-right: 2rem;
    text-decoration: none;
    position: relative;
    right: 340%;
}

.mudarpage a:hover{
    color: #b1a8a8;
    opacity: .8;
}

.mudarpage a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--verde2);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
}

.mudarpage a:hover::after{
    width: 90%;
}

.mudarpage2{
    display: flex;
    float:inline-start;
    position: absolute;
    align-self: flex-start;
    justify-self: center;
    padding: 10px;
}

.mudarpage2 a{
    color: #ffff;
    font-size: 27px;
    padding: 10px;
    margin-top: 3.5rem;
    text-decoration: none;
    position: relative; 
    right: 230%;
}

.mudarpage2 a:hover{
    color: #b1a8a8;
    opacity: .8;
}

.mudarpage2 a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--azul);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
}

.mudarpage2 a:hover::after{
    width: 90%;
}

/* Formulário */

.form{
    position: absolute;
    top: 45%;
    right: 55%;
}

.form input{
    display: block;
    width: 500px;
    outline: none;
    border: transparent;
    border-radius: 20px;
    color: var(--cor1);
    padding: 20px;
    margin-bottom: 12px;
    font-size: 15px;
}

/* Imagens */

.sustentabilidade{
    position: absolute;
    bottom: 32%;
    left: 78%;
}

.fantasmaCadastro {
    position: absolute;
    left: 82.5%;
    bottom: -23%;
}