.footer{
    background-color: var(--cinza);
    color: #fff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.footer_itens{
    align-items: center;
}

.footer_itens a{
    text-decoration: none;
    color: var(--cor-fundo);
}

.footer_itens a:hover{
    color: rgb(243, 233, 233);
}
