/* Geral */

.footer{
    display: flex;
    background-color: var(--cinza);
    color: #fff;
    height: 40vh;
    justify-content: flex-end;
    align-items: center;
}

.footer h2{
    margin-bottom: 1rem;
}

/* Logo */

.logo{
    position: absolute;
    right: 72%;
}

/* Footer Itens */

.footerItens{
    font-size: 20px;
    margin-right: 2rem;
}

.footerItens a{
    display: block;
    text-decoration: none;
    color: var(--cor-fundo);
}

.footerItens h2{
    margin-top: 1rem;
}

.footerItens a:hover{
    color: rgb(243, 233, 233);
}